<div *ngIf="subForm === -1; else subFormFields" fxLayout="column" fxLayoutAlign="start" [formGroup]="form">
  <mat-form-field
    appearance="outline"
    fxFlex
    [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
    [popoverPlacement]="'top'"
    [popoverSize]="'large'"
    [appendToBody]="true"
    [popoverDisabled]="this.disableTooltip"
    [popoverCloseOnMouseOutside]="true"
  >
    <mat-label>{{ field.label ? field.label : (tableType + '.' + field.name | uppercase | translate) }}</mat-label>
    <textarea
      matInput
      class="textarea-custom"
      [formControlName]="field.name"
      [maxlength]="field.length ? field.length : ''"
      [required]="field.require ? field.require : false"
    ></textarea>
  </mat-form-field>
  <div class="errors-container" *ngIf="errors as list">
    <mat-error *ngFor="let error of list">{{ 'ERROR.' + error | translate }}</mat-error>
  </div>
</div>

<ng-template #subFormFields>
  <div [formGroup]="form">
    <div [formArrayName]="subFormType">
      <mat-form-field
        [formGroupName]="subForm"
        appearance="outline"
        fxFlex
        [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
        [popoverPlacement]="'top'"
        [popoverSize]="'large'"
        [appendToBody]="true"
        [popoverDisabled]="this.disableTooltip"
        [popoverCloseOnMouseOutside]="true"
      >
        <mat-label>{{ field.label ? field.label : (tableType + '.' + field.name | uppercase | translate) }}</mat-label>
        <textarea
          matInput
          class="textarea-custom"
          [formControlName]="field.name"
          [maxlength]="field.length ? field.length : ''"
          [required]="field.require ? field.require : false"
        ></textarea>
      </mat-form-field>
      <div class="errors-container" *ngIf="errors as list">
        <mat-error *ngFor="let error of list">{{ 'ERROR.' + error | translate }}</mat-error>
      </div>
    </div>
  </div>
</ng-template>
