<atv-dd-single
  *ngIf="!(isMultipleOverride || (_field.multiple ? _field.multiple : false))"
  [hidden]="hiddenOverride !== hiddenField.noAction ? hiddenOverride === hiddenField.hidden : _field.hidden === hiddenField.hidden"
  [tableType]="tableType"
  [form]="form"
  [field]="_field"
  [label]="labelOverride ? labelOverride : (_field.label ? _field.label : (tableType + '.' + _field.name | uppercase | translate))"
  [errors]="errors"
  [allowNew]="allowNewOverride || (_field.allowNew ? _field.allowNew : false)"
  [disabled]="(disabledOverride > 0) ? disabledOverride === 1 : (_field.disabled ? _field.disabled : false)"
  [required]="requireOverride || (_field.require ? _field.require : false)"
  [fieldConfig]="fieldConfigOverride || _field.fieldConfig"
  [subForm]="subForm"
  [subFormType]="subFormType"
  [subFormParent]="subFormParent"
  [subFormTypeParent]="subFormTypeParent"
></atv-dd-single>
<atv-dd-multiple
  *ngIf="isMultipleOverride || (_field.multiple ? _field.multiple : false)"
  [hidden]="hiddenOverride !== hiddenField.noAction ? hiddenOverride === hiddenField.hidden : _field.hidden === hiddenField.hidden"
  [tableType]="tableType"
  [form]="form"
  [field]="_field"
  [label]="labelOverride ? labelOverride : (_field.label ? _field.label : (tableType + '.' + _field.name | uppercase | translate))"
  [errors]="errors"
  [allowNew]="allowNewOverride || (_field.allowNew ? _field.allowNew : false)"
  [disabled]="(disabledOverride > 0) ? disabledOverride === 1 : (_field.disabled ? _field.disabled : false)"
  [required]="requireOverride || (_field.require ? _field.require : false)"
  [fieldConfig]="fieldConfigOverride || _field.fieldConfig"
  [subForm]="subForm"
  [subFormType]="subFormType"
  [subFormParent]="subFormParent"
  [subFormTypeParent]="subFormTypeParent"
></atv-dd-multiple>
