<div *ngIf="subForm === -1 && subFormParent === -1" fxLayout="column" fxLayoutAlign="start" [formGroup]="form" [hidden]="isHidden">
  <mat-form-field
    appearance="outline"
    fxFlex
    [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
    [popoverPlacement]="'top'"
    [popoverSize]="'large'"
    [appendToBody]="true"
    [popoverDisabled]="this.disableTooltip"
    [popoverCloseOnMouseOutside]="true"
  >
    <mat-label>{{ field.label ? field.label : (tableType + '.' + field.name | uppercase | translate) }}</mat-label>
    <mat-select *ngIf="data" [formControlName]="field.name" [required]="field.require ? field.require : false" [multiple]="field.multiple">
      <atv-dropdown-search *ngIf="field.search && searchFilter[field.name]" [formControl]="searchFilter[field.name]"></atv-dropdown-search>
      <mat-option *ngIf="!field.multiple && !field.hideNone">{{ 'TABLE.NONE' | translate }}</mat-option>
      <mat-option *ngFor="let item of data" [value]="item.id" [disabled]="item.disabled ? item.disabled : false">{{
        item.value
      }}</mat-option>
      <mat-option *ngIf="field.allowNew" [value]="'new-item'">Add New</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="errors-container" *ngIf="errors as list">
    <mat-error *ngFor="let error of list">{{ 'ERROR.' + error | translate }}</mat-error>
  </div>
</div>

<div *ngIf="subForm !== -1 && subFormParent === -1" [formGroup]="form" [hidden]="isHidden">
  <div [formArrayName]="subFormType" fxLayout="column">
    <mat-form-field
      [formGroupName]="subForm"
      appearance="outline"
      fxFlex
      [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
      [popoverPlacement]="'top'"
      [popoverSize]="'large'"
      [appendToBody]="true"
      [popoverDisabled]="this.disableTooltip"
      [popoverCloseOnMouseOutside]="true"
    >
      <mat-label>{{ field.label ? field.label : (tableType + '.' + field.name | uppercase | translate) }}</mat-label>
      <mat-select
        *ngIf="data"
        [formControlName]="field.name"
        [required]="field.require ? field.require : false"
        [multiple]="field.multiple"
      >
        <atv-dropdown-search
          *ngIf="field.search && searchFilter[field.name]"
          [formControl]="searchFilter[field.name]"
        ></atv-dropdown-search>
        <mat-option *ngIf="!field.multiple && !field.hideNone">{{ 'TABLE.NONE' | translate }}</mat-option>
        <mat-option *ngFor="let item of data" [value]="item.id">{{ item.value }}</mat-option>
        <mat-option *ngIf="field.allowNew" [value]="'new-item'">Add New</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="errors-container" *ngIf="errors as list">
      <mat-error *ngFor="let error of list">{{ 'ERROR.' + error | translate }}</mat-error>
    </div>
  </div>
</div>

<div *ngIf="subForm !== -1 && subFormParent !== -1" [formGroup]="form" [hidden]="isHidden">
  <div [formArrayName]="subFormTypeParent">
    <div [formGroupName]="subFormParent">
      <div [formArrayName]="subFormType" fxLayout="column">
        <mat-form-field
          [formGroupName]="subForm"
          appearance="outline"
          fxFlex
          [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
          [popoverPlacement]="'top'"
          [popoverSize]="'large'"
          [appendToBody]="true"
          [popoverDisabled]="this.disableTooltip"
          [popoverCloseOnMouseOutside]="true"
        >
          <mat-label>{{ field.label ? field.label : (tableType + '.' + field.name | uppercase | translate) }}</mat-label>
          <mat-select [formControlName]="field.name" [required]="field.require ? field.require : false" [multiple]="field.multiple">
            <atv-dropdown-search
              *ngIf="field.search && searchFilter[field.name]"
              [formControl]="searchFilter[field.name]"
            ></atv-dropdown-search>
            <mat-option *ngIf="!field.multiple && !field.hideNone">{{ 'TABLE.NONE' | translate }}</mat-option>
            <mat-option *ngFor="let item of data" [value]="item.id">{{ item.value }}</mat-option>
            <mat-option *ngIf="field.allowNew" [value]="'new-item'">Add New</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="errors-container" *ngIf="errors as list">
      <mat-error *ngFor="let error of list">{{ 'ERROR.' + error | translate }}</mat-error>
    </div>
  </div>
</div>
