<ng-container [ngSwitch]="type">
  <h3 class="section-title" *ngSwitchCase="FormFieldType.title">{{ field.label }}</h3>
  <atv-dynamic-dropdown
    *ngSwitchCase="FormFieldType.dynamicDropdown"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [errors]="errors"
    [field]="field"
    (updateWidth)="updateWidth.emit($event)"
  ></atv-dynamic-dropdown>
  <atv-input
    *ngSwitchCase="FormFieldType.input"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [errors]="errors"
    [field]="field"
    (updateWidth)="updateWidth.emit($event)"
  ></atv-input>
  <atv-input
    *ngSwitchCase="FormFieldType.integer"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [errors]="errors"
    [field]="field"
    (updateWidth)="updateWidth.emit($event)"
  ></atv-input>
  <atv-input
    *ngSwitchCase="FormFieldType.decimal"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [errors]="errors"
    [field]="field"
    (updateWidth)="updateWidth.emit($event)"
  ></atv-input>
  <atv-file
    *ngSwitchCase="FormFieldType.file"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [field]="field"
    [errors]="errors"
  ></atv-file>
  <atv-file-picker
    *ngSwitchCase="FormFieldType.filePicker"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [field]="field"
    [errors]="errors"
  ></atv-file-picker>
  <atv-boolean
    *ngSwitchCase="FormFieldType.boolean"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [field]="field"
    [errors]="errors"
    (updateWidth)="updateWidth.emit($event)"
  ></atv-boolean>
  <atv-dropdown
    *ngSwitchCase="FormFieldType.dropdown"
    [tableType]="tableType"
    [form]="form"
    [options]="field.data"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [errors]="errors"
    [customOptions]="customOptions"
    [field]="field"
  ></atv-dropdown>
  <atv-textarea
    *ngSwitchCase="FormFieldType.textarea"
    [tableType]="tableType"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [field]="field"
    [errors]="errors"
  ></atv-textarea>
  <atv-fill-datetime-picker
    *ngSwitchCase="FormFieldType.fillDateTimePicker"
    [form]="form"
    [subForm]="subForm"
    [subFormType]="subFormType"
    [subFormParent]="subFormParent"
    [subFormTypeParent]="subFormTypeParent"
    [field]="field"
  ></atv-fill-datetime-picker>
</ng-container>
