@mixin loading-theme($theme) {
  $background: map-get($theme, background);

  atv-loading {
    .spinner-container {
      background-color: map-get($background, background);
    }
  }

  .preview-container {
    .preview-spinner-container {
      background-color: map-get($background, background);
    }
  }
}
