<div class="dialog-content-wrapper dialog-form-container profile-list-container">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div class="title dialog-title">{{ 'PROFILES.TITLE' | translate }}</div>
      <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div class="search-wrapper mt-16 mt-sm-0">
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input [formControl]="searchInput" [placeholder]="'PROFILES.SEARCH_PLACEHOLDER' | translate" />
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="container p-12 m-0">
    <div class="content">
      <div class="custom-responsive">
        <mat-table class="profiles-table" matSort [dataSource]="profiles" [@animateStagger]="{value: '50'}">
          <ng-container matColumnDef="profileId">
            <mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'PROFILES.ID' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let profile">
              <p class="text-truncate font-weight-600">{{ profile.profileId }}</p>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'PROFILES.NAME' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let profile">
              <p class="text-truncate font-weight-600">{{ profile.name }}<br>{{ profile.folder }}</p>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="type">
            <mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'PROFILES.TYPE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let profile">
              <p class="text-truncate">{{ profile.type }}</p>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastUsedVersion">
            <mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'PROFILES.LAST_USED_VERSION' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let profile">
              <p class="text-truncate">{{ profile.lastUsedVersion }}</p>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastUsed">
            <mat-header-cell mat-sort-header *matHeaderCellDef>{{ 'PROFILES.LAST_USED' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let profile">
              <p class="text-truncate">{{ profile.lastUsed }}</p>
            </mat-cell>
          </ng-container>

          <!-- Buttons Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell fxFlex="50px" *matHeaderCellDef></mat-header-cell>
            <mat-cell fxFlex="50px" *matCellDef="let profile" fxLayoutAlign="flex-end" stickyEnd>
              <button
                mat-icon-button
                [matMenuTriggerFor]="moreMenu"
                aria-label="'ACTIONS.MORE' | translate"
                (click)="$event.stopPropagation()"
              >
                <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>
              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item [attr.aria-label]="'PROFILES.SELECT' | translate" (click)="selectProfile(profile)">
                  <mat-icon>check_circle</mat-icon>
                  <span>{{ 'PROFILES.SELECT' | translate }}</span>
                </button>
                <button mat-menu-item [attr.aria-label]="'ACTIONS.EDIT' | translate" (click)="editProfile(profile)">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'ACTIONS.EDIT' | translate }}</span>
                </button>
                <button mat-menu-item [attr.aria-label]="'ACTIONS.DUPLICATE' | translate" (click)="duplicate(profile)">
                  <mat-icon>file_copy</mat-icon>
                  <span>{{ 'ACTIONS.DUPLICATE' | translate }}</span>
                </button>
                <button mat-menu-item [attr.aria-label]="'ACTIONS.REMOVE' | translate" (click)="removeProfile(profile)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'ACTIONS.REMOVE' | translate }}</span>
                </button>
                <button mat-menu-item [attr.aria-label]="'PROFILES.OPEN_LOGS' | translate" (click)="openLogs(profile)">
                  <mat-icon>snippet_folder</mat-icon>
                  <span>{{ 'PROFILES.OPEN_LOGS' | translate }}</span>
                </button>
                <button mat-menu-item [attr.aria-label]="'PROFILES.CLEAR_LOGS' | translate" (click)="clearLogs(profile)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>{{ 'PROFILES.CLEAR_LOGS' | translate }}</span>
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let profile; columns: displayedColumns"
            (dblclick)="selectProfile(profile)"
            (contextmenu)="onRightClick($event, profile); $event.preventDefault()"
            class="contact table-row"
          ></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

    <button
      mat-fab
      class="accent fab-add-button"
      (click)="addProfile()"
      [attr.aria-label]="'PROFILES.ADD' | translate"
      [@animate]="{value: '*', params: {delay: '300ms', scale: '.2'}}"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<ng-template #contextMenu let-profile>
  <section class="context-menu">
    <button mat-menu-item [attr.aria-label]="'PROFILES.SELECT' | translate" (click)="selectProfile(profile)">
      <mat-icon>check_circle</mat-icon>
      <span>{{ 'PROFILES.SELECT' | translate }}</span>
    </button>
    <button mat-menu-item [attr.aria-label]="'ACTIONS.EDIT' | translate" (click)="editProfile(profile)">
      <mat-icon>edit</mat-icon>
      <span>{{ 'ACTIONS.EDIT' | translate }}</span>
    </button>
    <button mat-menu-item [attr.aria-label]="'ACTIONS.DUPLICATE' | translate" (click)="duplicate(profile)">
      <mat-icon>file_copy</mat-icon>
      <span>{{ 'ACTIONS.DUPLICATE' | translate }}</span>
    </button>
    <button mat-menu-item [attr.aria-label]="'ACTIONS.REMOVE' | translate" (click)="removeProfile(profile)">
      <mat-icon>delete</mat-icon>
      <span>{{ 'ACTIONS.REMOVE' | translate }}</span>
    </button>
    <button mat-menu-item [attr.aria-label]="'PROFILES.OPEN_LOGS' | translate" (click)="openLogs(profile)">
      <mat-icon>snippet_folder</mat-icon>
      <span>{{ 'PROFILES.OPEN_LOGS' | translate }}</span>
    </button>
    <button mat-menu-item [attr.aria-label]="'PROFILES.CLEAR_LOGS' | translate" (click)="clearLogs(profile)">
      <mat-icon>delete_outline</mat-icon>
      <span>{{ 'PROFILES.CLEAR_LOGS' | translate }}</span>
    </button>
  </section>
</ng-template>
