<div *ngIf="subForm === -1 && subFormParent === -1" fxLayout="column" fxLayoutAlign="start" [formGroup]="form">
  <mat-form-field
    fxFlex
    appearance="outline"
    class="dynamic-dropdown-component"
    [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
    [popoverPlacement]="'top'"
    [popoverSize]="'large'"
    [appendToBody]="true"
    [popoverDisabled]="this.disableTooltip"
    [popoverCloseOnMouseOutside]="true"
  >
    <ng-template [ngTemplateOutlet]="addNewItemButton"></ng-template>
    <mat-label>{{ label }}</mat-label>
    <input type="hidden" [required]="required" [formControlName]="field.name" />
    <input
      matInput
      type="text"
      #autoCompleteInput
      (focus)="listOpened()"
      [matAutocomplete]="autocomplete"
      [formControl]="searchField"
      [required]="required"
      [attr.aria-label]="field.label ? field.label : (tableType + '.' + field.name | uppercase | translate)"
    />
  </mat-form-field>
  <ng-template [ngTemplateOutlet]="errorTemplate"></ng-template>
</div>

<div *ngIf="subForm !== -1 && subFormParent === -1" [formGroup]="form">
  <div [formArrayName]="subFormType" fxLayout="column">
    <mat-form-field
      fxFlex
      appearance="outline"
      [formGroupName]="subForm"
      class="dynamic-dropdown-component"
      [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
      [popoverPlacement]="'top'"
      [popoverSize]="'large'"
      [appendToBody]="true"
      [popoverDisabled]="this.disableTooltip"
      [popoverCloseOnMouseOutside]="true"
    >
      <ng-template [ngTemplateOutlet]="addNewItemButton"></ng-template>
      <mat-label>{{ label }}</mat-label>
      <input type="hidden" [required]="required" [formControlName]="field.name" />
      <input
        matInput
        type="text"
        #autoCompleteInput
        (focus)="listOpened()"
        [matAutocomplete]="autocomplete"
        [formControl]="searchField"
        [required]="required"
        [attr.aria-label]="field.label ? field.label : (tableType + '.' + field.name | uppercase | translate)"
      />
    </mat-form-field>
    <ng-template [ngTemplateOutlet]="errorTemplate"></ng-template>
  </div>
</div>

<div *ngIf="subForm !== -1 && subFormParent !== -1" [formGroup]="form">
  <div [formArrayName]="subFormTypeParent">
    <div [formGroupName]="subFormParent">
      <div [formArrayName]="subFormType" fxLayout="column">
        <mat-form-field
          fxFlex
          appearance="outline"
          [formGroupName]="subForm"
          class="dynamic-dropdown-component"
          [popover]="field.tooltip ? field.tooltip : (tableType + '.' + field.name + '_HELP' | uppercase | translate)"
          [popoverPlacement]="'top'"
          [popoverSize]="'large'"
          [appendToBody]="true"
          [popoverDisabled]="this.disableTooltip"
          [popoverCloseOnMouseOutside]="true"
        >
          <ng-template [ngTemplateOutlet]="addNewItemButton"></ng-template>
          <mat-label>{{ label }}</mat-label>
          <input type="hidden" [required]="required" [formControlName]="field.name" />
          <input
            matInput
            type="text"
            #autoCompleteInput
            (focus)="listOpened()"
            (blur)="onBlurList()"
            [matAutocomplete]="autocomplete"
            [formControl]="searchField"
            [required]="required"
            [attr.aria-label]="field.label ? field.label : (tableType + '.' + field.name | uppercase | translate)"
          />
        </mat-form-field>
        <ng-template [ngTemplateOutlet]="errorTemplate"></ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #addNewItemButton>
  <button
    *ngIf="ableToEdit"
    type="button"
    class="dynamic-dropdown-edit-button"
    mat-mini-fab
    color="primary"
    [attr.aria-label]="'ACTIONS.EDIT_DROPDOWN_ITEM' | translate"
    (click)="$event.stopPropagation(); editItem()"
  >
    <mat-icon>mode_edit</mat-icon>
  </button>
  <button
    *ngIf="allowNew"
    type="button"
    class="dynamic-dropdown-add-button"
    mat-mini-fab
    color="primary"
    [attr.aria-label]="'ACTIONS.ADD_DROPDOWN_ITEM' | translate"
    (click)="$event.stopPropagation(); addNewItem()"
  >
    <mat-icon>add</mat-icon>
  </button>
</ng-template>

<mat-autocomplete #autocomplete="matAutocomplete" (closed)="cleanupList()" (optionSelected)="optionSelected($event)">
  <mat-option *ngIf="optionCount > 0" [value]="-1">{{ 'GENERAL.NONE' | translate }}</mat-option>
  <ng-container *ngIf="optionCount > 0">
    <mat-option *ngFor="let option of options" [value]="option" class="option-value-row">
      <span class="option-value-row_text">{{ option.value }}</span>
      <mat-icon
        *ngIf="!fieldConfig?.isData"
        class="option-value-row_icon"
        aria-hidden="false"
        aria-label="Edit Option"
        (click)="$event.stopPropagation(); updateItem(option)"
      >mode_edit</mat-icon>
    </mat-option>
    <button type="button" mat-button *ngIf="allowMore" [disabled]="loadingList" class="field-width-100" color="primary" (click)="showMore($event)">
      {{ 'GENERAL.SHOW_MORE' | translate }}
    </button>
  </ng-container>
  <mat-option *ngIf="!optionCount" [value]="null">{{ 'GENERAL.NOTHING_TO_SHOW' | translate }}</mat-option>
</mat-autocomplete>

<ng-template #errorTemplate>
  <div class="errors-container" *ngIf="list">
    <mat-error *ngFor="let error of list">{{ 'ERROR.' + error | translate }}</mat-error>
  </div>
</ng-template>
